/*
The structure of the processed Orc widget looks like this:
<div class="orc-wrapper">
  <div class="orc-code">...</div>
  ...
</div>

The structure of the unprocessed Orc widget looks like this:
  <pre class="orc">...</pre>
or this:
  <pre class="orc-snippet">...</pre>

In order to accomodate browsers without CSS, you should always use <pre> or
<textarea> for an Orc widget.

In order to accomodate browsers without Javascript, you should always provide
styles for .orc and .orc-snippet (unprocessed), and also for .orc-wrapper and
.orc-code (processed). It makes sense to divide the style between inner and
outer styles. Both inner and outer styles are applied to .orc and .orc-snippet;
only the inner are applied to .orc-code, and only the outer are applied to
.orc-wrapper.
*/

/* Inner style: applies inside and around code area */
.orc-code, .orc, .orc-snippet {
	border: 1px solid #666;
	margin: 0;
	padding: 0;
	overflow: auto;
	font-family: monospace;
	background-color: white;
	/* this has no effect after codemirror has loaded */
	font-size: 14px;
}

/* Outer style: applies outside code area */
.orc-wrapper, .orc, .orc-snippet {
	margin-bottom: 1em;
	background-color: white;
	font-size: 14px;
}

.orc-prelude {
	display: none;
}

.orc-events {
	border: 1px solid #666;
	margin-top: -1px;
	overflow: auto;
}
.orc-controls {
	text-align: right;
	border: 1px solid #666;
	background-color: #ddd;
	margin-top: -1px;
	height: 18px;
}
.orc-prompts {
	border: 1px solid #666;
	border-bottom: 3px double #666;
	margin-top: -1px;
	overflow: auto;
}
.orc-stop, .orc-close, .orc-run {
	border: 1px outset;
	background-color: white;
	cursor: pointer;
	font: bold 10px Verdana,sans-serif;
}
.orc-run {
	background-color: #cfc;
}
.orc-stop {
	background-color: #fcc;
}
.orc-publication, .orc-error, .orc-print, .orc-prompt {
	border-bottom: 1px solid #ddd;
	display: none;
}
.orc-publication {
	font-family: monospace;
	white-space: nowrap;
}
.orc-error {
	font-family: monospace;
	font-weight: bold;
	white-space: pre;
	color: red;
}
.orc-print {
	font-color: gray;
}
.orc-prompt {
	padding: 5px;
}
.orc-prompt p {
	margin: 0;
	margin-bottom: 5px;
}
.orc-prompt-input {
	padding-right: 46px;
	position: relative;
}
.orc-prompt-input input {
	border: 3px double #ddd;
	width: 100%;
	/* force font to scale with rest of interface */
	font-size: 100%;
}
.orc-prompt-input-close {
	width: 16px;
	height: 16px;
	background-image: url("/orchard/images/close.gif");
	background-repeat: no-repeat;
	position: absolute;
	right: 0px;
	top: 2px;
	cursor: pointer;
}
.orc-prompt-input-send {
	width: 16px;
	height: 16px;
	background-image: url("/orchard/images/send.gif");
	background-repeat: no-repeat;
	position: absolute;
	right: 20px;
	top: 2px;
	cursor: pointer;
}
.orc-loading {
	width: 16px;
	height: 16px;
	background-image: url("/orchard/images/loading.gif");
	background-repeat: no-repeat;
	float: left;
}

/* IE-specific hacks */

.orc-prompts {
	_display: inline-block;
	min-height: 0;
}
.orc-events {
	_width: 100%;
	min-height: 0;
	/* without this, the horizontal scrollbar covers the content */
	_padding-bottom: 15px;
}
.orc-prompt-input {
	_display: inline-block;
	min-height: 0;
}
