.orc {
	border: 1px solid #666;
	margin: 0;
	overflow: auto;
	font-family: monospace;
	font-size: 13px;
	background-color: white;
}
.orc-prelude {
	display: none;
}
.orc-wrapper {
	margin-bottom: 1em;
	background-color: white;
}
.orc-events {
	height: 60px;
	border: 1px solid #666;
	margin-top: -1px;
	overflow: auto;
}
.orc-controls {
	text-align: right;
	border: 1px solid #666;
	background-color: #ddd;
	margin-top: -1px;
	height: 18px;
}
.orc-stop, .orc-close, .orc-run {
	border: 1px outset;
	background-color: white;
	cursor: pointer;
	font: bold 10px Verdana,sans-serif;
}
.orc-run {
	background-color: #cfc;
}
.orc-stop {
	background-color: #fcc;
}
.orc-publication {
	border-bottom: 1px solid #ddd;
	font-family: monospace;
	font-size: 13px;
}
.orc-error {
	border: 3px solid red;
	color: red;
	font-size: larger;
}
.orc-print {
	border-bottom: 1px solid #ddd;
	font-color: gray;
}
.orc-loading {
	width: 16px;
	height: 16px;
	background-image: url("/orchard/images/loading.gif");
	float: left;
}
