.programlisting, .orc, .orc-wrapper {
	background-color: #E0E0E7;
	padding: 2ex;
	width: 60%;
	margin-left: 5%;	
}

.orc-wrapper .orc {
	width: 100%;
}

.term {
	font-weight: bold;
}

.variablelist dt {
	float: left;
	clear: left;
	padding-right: 1em;
}

.variablelist dd {
	margin-left: 6em;
}

/* Copied from Orchard/web/orc-syntax.css */

span.hl-keyword {
	color: blue;
}

span.hl-variable {
	font-style: italic;
}

span.hl-combinator {
	color: red;
}

span.hl-comment {
	color: #A70;
}

span.hl-literal, span.hl-number, span.hl-string {
	color: #090;
}
