# .gitattributes -- git attibute to pathname mapping


# Do end-of-line character normalization on all text files

*       text=auto encoding=UTF-8


# Common file types in Orc repos

*.xml   text
*.html  text diff=html linguist-language=HTML
*.shtml text diff=html linguist-language=HTML
*.xhtml text diff=html linguist-language=HTML
*.xsl   text
*.orc   text linguist-language=Orc
*.java  text diff=java
*.scala text
*.png   binary
*.gif   binary
*.class binary
*.jar   binary
*.war   binary
*.zip   binary
*.gz    binary
*.txt   text
*.svg   text
*.js    text
*.inc   text linguist-language=Orc
*.prefs text
*.pdf   binary
*.css   text diff=css
*.properties  text
*.bib   text diff=bibtex
*.BAT   text eol=crlf
*.eps   text
*.ini   text
*.sh    text
*.sql   text linguist-language=SQL
*.xsd   text
*.yml   text


# Third-party files

lib/**   linguist-vendored
libs/**   linguist-vendored
tools/** linguist-vendored
OrcDocs/docbook-xml/**  linguist-vendored
OrcDocs/docbook-xsl/**  linguist-vendored
Orchard/src/org/**  linguist-vendored
OrcSites/src/net/**  linguist-vendored


# Documentation files

*.md   text linguist-documentation
*.creole  text linguist-documentation

BUILD   text linguist-documentation
BUILD.txt  text linguist-documentation
INSTALL text linguist-documentation
INSTALL.txt  text linguist-documentation
LICENSE text linguist-documentation
LICENSE.txt  text linguist-documentation
README  text linguist-documentation
README.txt  text linguist-documentation
about.html  text linguist-documentation
licenses.yml  text linguist-documentation

help/**  linguist-documentation
licenses/**  linguist-documentation
OrcDocs/**  linguist-documentation
Website/**  linguist-documentation

Website/robots.txt  eol=crlf
