# .gitignore -- Lists files for git to ignore (not track)
#

## Various OS desktop UI junk files
.DS_Store
Desktop.ini
Thumbs.db


.metadata
Mission Control/
.Rproj.user

.orcache

PorcE/tools/IGVFilters/\.nbattrs
