.orc {
	border: 1px solid #666;
	margin: 0;
	overflow: auto;
	font-family: monospace;
	font-size: 13px;
	background-color: white;
}
.orc-prelude {
	display: none;
}
.orc-wrapper {
	margin-bottom: 1em;
	background-color: white;
}
.orc-events {
	border: 1px solid #666;
	border-top: 3px double #666;
	margin-top: -1px;
	overflow: auto;
}
.orc-controls {
	text-align: right;
	border: 1px solid #666;
	background-color: #ddd;
	margin-top: -1px;
	height: 18px;
}
.orc-prompts {
	border: 1px solid #666;
	margin-top: -1px;
	overflow: auto;
}
.orc-stop, .orc-close, .orc-run {
	border: 1px outset;
	background-color: white;
	cursor: pointer;
	font: bold 10px Verdana,sans-serif;
}
.orc-run {
	background-color: #cfc;
}
.orc-stop {
	background-color: #fcc;
}
.orc-publication {
	border-bottom: 1px solid #ddd;
	font-family: monospace;
	font-size: 13px;
	display: none;
	white-space: nowrap;
}
.orc-error {
	border: 3px solid red;
	color: red;
	font-size: larger;
	display: none;
}
.orc-print {
	border-bottom: 1px solid #ddd;
	font-color: gray;
	display: none;
}
.orc-prompt {
	border-bottom: 1px solid #ddd;
	padding: 5px;
	font-size: 13px;
	display: none;
}
.orc-prompt p {
	margin: 0;
	margin-bottom: 5px;
}
.orc-prompt-input {
	padding-right: 46px;
	position: relative;
	/* force IE to calculate layout correctly */
	display: inline-block;
}
.orc-prompt-input input {
	border: 3px double #ddd;
	width: 100%;
}
.orc-prompt-input-close {
	width: 16px;
	height: 16px;
	background-image: url("/orchard/images/close.gif");
	background-repeat: no-repeat;
	position: absolute;
	right: 0px;
	top: 2px;
	cursor: pointer;
}
.orc-prompt-input-send {
	width: 16px;
	height: 16px;
	background-image: url("/orchard/images/send.gif");
	background-repeat: no-repeat;
	position: absolute;
	right: 20px;
	top: 2px;
	cursor: pointer;
}
.orc-loading {
	width: 16px;
	height: 16px;
	background-image: url("/orchard/images/loading.gif");
	background-repeat: no-repeat;
	float: left;
}
