<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>@orc.version@, Copyright © @orc.copyright-year@ The University of Texas at Austin.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © @orc.copyright-year@ The University of Texas at Austin.</string>
	<key>CFBundleIconFile</key>
	<string>orchard-app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>edu.utexas.cs.orc.orchard</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Orchard</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@orc.version@</string>
	<key>CFBundleVersion</key>
	<string>@orchard.svnversion@</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>@app.classpath@</string>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>MainClass</key>
		<string>orc.OrchardDemo</string>
		<key>VMOptions</key>
		<string>-Xmx1G</string>
		<key>Properties</key>
		<dict>
			<key>orc.version</key>
			<string>@orc.version@</string>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Orc source code</string>
			<key>CFBundleTypeIconFile</key>
			<string>OrcDocument.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>orc</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/vnd.orc.source</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.utexas.cs.orc.source</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Orc source code include</string>
			<key>CFBundleTypeIconFile</key>
			<string>OrcDocument.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inc</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/vnd.orc.source</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.utexas.cs.orc.source-inc</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Orc Intermediate Language (OIL)</string>
			<key>CFBundleTypeIconFile</key>
			<string>OrcDocument.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oil</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.orc.oil+xml</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.utexas.cs.orc.oil</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Orc source code</string>
			<key>UTTypeIdentifier</key>
			<string>edu.utexas.cs.orc.source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>orc</string>
				<key>public.mime-type</key>
				<string>text/vnd.orc.source</string>
			</dict>
			<key>UTTypeIconFile</key>
			<string>OrcDocument.icns</string>
			<key>UTTypeReferenceURL</key>
			<string>http://orc.csres.utexas.edu/</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Orc source code include</string>
			<key>UTTypeIdentifier</key>
			<string>edu.utexas.cs.orc.source-inc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>inc</string>
				<key>public.mime-type</key>
				<string>text/vnd.orc.source-inc</string>
			</dict>
			<key>UTTypeIconFile</key>
			<string>OrcDocument.icns</string>
			<key>UTTypeReferenceURL</key>
			<string>http://orc.csres.utexas.edu/</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Orc Intermediate Language (OIL)</string>
			<key>UTTypeIdentifier</key>
			<string>edu.utexas.cs.orc.oil</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>oil</string>
				<key>public.mime-type</key>
				<string>application/vnd.orc.oil+xml</string>
			</dict>
			<key>UTTypeIconFile</key>
			<string>OrcDocument.icns</string>
			<key>UTTypeReferenceURL</key>
			<string>http://orc.csres.utexas.edu/</string>
		</dict>
	</array>
</dict>
</plist>
