/orc-*.jar
/orchard-logging.jar
/scala-library.jar
/GoogleSearch.jar
/ant-googlecode-0.0.1.jar
/axis.jar
/commons-codec-1.3.jar
/commons-discovery-0.2.jar
/commons-httpclient-3.1.jar
/commons-logging-1.1.1.jar
/eclipse-ecj.jar
/gdata-base-1.0.jar
/gdata-calendar-1.0.jar
/gdata-calendar-meta-1.0.jar
/gdata-client-1.0.jar
/gdata-core-1.0.jar
/htmlparser.jar
/jaxrpc.jar
/jaxws-json.jar
/jettison-1.0.1.jar
/joda-time-1.5.2.jar
/junit-4.5.jar
/mail.jar
/mimepull.jar
/oauth-20100527.jar
/oauth-consumer-20100527.jar
/oauth-httpclient3-20090617.jar
/oauth-provider-20100527.jar
/smack.jar
/smackx.jar
/wsdl4j-1.6.1.jar
