/* strings */
pre > s { color: gray; }
/* reserved words */
pre > b { color: green; font-weight: bold; font-size: 12px; }
/* builtins */
pre > u { color: blue; }
/* comments */
pre > i { color: brown; font-style: italic; }
/* combinators */
pre > tt { font-weight: bold; font-size: 12px; }

/*
NB: bold fonts on my browser distort the line-height unless
I explicitly set the font size 1px smaller.
*/