/* Copied from Orchard/web/orc.css */

.programlisting, .orc {
	border: 1px solid #666;
	margin: 0;
	padding: 0;
	overflow: auto;
	font-family: monospace;
	background-color: white;
	/* this has no effect after codemirror has loaded */
	font-size: 14px;
}

/* Copied from Orchard/web/orc-syntax.css */

span.hl-keyword {
	color: blue;
}

span.hl-variable {
	font-style: italic;
}

span.hl-combinator {
	color: red;
}

span.hl-comment {
	color: #A70;
}

span.hl-literal, span.hl-number, span.hl-string {
	color: #090;
}

/* Original stuff */

.orc-wrapper, .orc, .programlisting {
	width: 60%;
	margin-left: 5%;
	margin-bottom: 1em;
	margin-top: 1em;
}

.orc-code, .orc, .programlisting {
	padding: 1em;
}

.variablelist .term {
	font-weight: bold;
}

/* Fix for Mozilla ignoring the <col valign="top"> */
div.variablelist > table > tbody > tr > td:first-child {
	vertical-align: top;
}

/* add margin between list entries */
div.variablelist > table > tbody > tr > td {
	padding-top: 1em;
}
