<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            url="http://orc.csres.utexas.edu/"
            icon="orc16.gif"
            extensions="orc,inc"
            description="A language for distributed and concurrent programming from The University of Texas at Austin."
            natureID="edu.utexas.cs.orc.orceclipse.imp.nature"
            language="Orc">
      </language>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="orc"
            id="edu.utexas.cs.orc.source"
            name="Orc source code"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            extension="orc"
            type="text">
      </fileTypes>
      <fileTypes
            extension="inc"
            type="text">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.imp.editor.UniversalEditor"
            contributorClass="org.eclipse.imp.editor.internal.TextEditorActionContributor"
            default="true"
            extensions="orc, inc"
            icon="icons/orc_file_obj.gif"
            id="org.eclipse.imp.runtime.impEditor"
            name="Orc Editor">
      </editor>
   </extension>
   <extension
         id="OrcEclipse.parser"
         name="Orc Parser Wrapper"
         point="org.eclipse.imp.runtime.parser">
      <parserWrapper
            class="orc.imp.parser.OrcParseController"
            language="Orc">
      </parserWrapper>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="Orc.imp.projectContextMenu"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="orc.imp.actions.EnableOrcNature"
               enablesFor="+"
               icon="orc16.gif"
               id="Orc.imp.actions.enableNatureAction"
               label="Enable Orc Builder"
               tooltip="Enable the Orc builder for this project">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="orc.imp.builder"
         name="Orc Compiler"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="orc.imp.builders.OrcBuilder">
            <parameter
                  name="foo"
                  value="bar">
            </parameter>
         </run>
      </builder>
   </extension>
   <extension
         id="imp.nature"
         name="Orc Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="edu.utexas.cs.orc.orceclipse.orc.imp.builder">
      </builder>
      <runtime>
         <run
               class="orc.imp.builders.OrcNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="problemmarker"
         name="Orc Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer
            class="orc.imp.tokenColorer.OrcTokenColorer"
            language="Orc">
      </tokenColorer>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="Orc Program"
            delegate="edu.utexas.cs.orc.orceclipse.launch.OrcLaunchDelegate"
            modes="run"
            public="true"
            delegateName="Orc Program Launcher"
            id="edu.utexas.cs.orc.orceclipse.launch.orcApplication"
            delegateDescription="Create a configuration to launch an Orc application.">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="edu.utexas.cs.orc.orceclipse.launch.orcApplication"
            description="Create a configuration to launch an Orc application."
            class="edu.utexas.cs.orc.orceclipse.launch.OrcLaunchConfigurationTabGroup"
            id="edu.utexas.cs.orc.orceclipse.launch.launchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Run Orc Program"
            icon="orc16.gif"
            description="Launch the current file as an Orc application"
            modes="run"
            class="edu.utexas.cs.orc.orceclipse.launch.OrcLaunchShortcut"
            id="edu.utexas.cs.orc.orceclipse.launch.shortcut">
         <contextualLaunch>
            <contextLabel
                  label="Orc Program"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           value="*.orc"
                           property="org.eclipse.debug.ui.matchesPattern">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="orc16.gif"
            configTypeID="edu.utexas.cs.orc.orceclipse.launch.orcApplication"
            id="edu.utexas.cs.orc.orceclipse.launch.orcApplicationImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="orc.imp.treeModelBuilder.OrcTreeModelBuilder"
            language="Orc">
      </treeBuilder>
   </extension>
   <extension
         point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider
            class="orc.imp.treeModelBuilder.OrcLabelProvider"
            language="Orc">
      </labelProvider>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Orc"
            icon="orc16.gif"
            class="edu.utexas.cs.orc.orceclipse.OrcPerspectiveFactory"
            id="edu.utexas.cs.orc.orceclipse.perspective.main">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.utexas.cs.orc.orceclipse.perspective.main">
         <view
               closeable="true"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="true"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.TaskList"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               visible="false">
         </view>
         <view
               id="org.eclipse.search.ui.views.SearchView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="false">
         </view>
         <view
               id="org.eclipse.ui.views.BookmarkView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="false">
         </view>
         <view
               id="org.eclipse.ui.views.ProgressView"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               visible="false">
         </view>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.ui.edit.text.actionSet.navigation">
         </actionSet>
         <actionSet
               id="org.eclipse.ui.actionSet.openFiles">
         </actionSet>
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.ui.resourcePerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.team.svn.ui.repository.RepositoryPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.team.cvs.ui.cvsPerspective">
         </perspectiveShortcut>
         <newWizardShortcut
               id="edu.utexas.cs.orc.orceclipse.wizards.NewOrcProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.team.svn.ui.wizard.ImportFromSVNWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="edu.utexas.cs.orc.orceclipse.wizards.NewOrcFileWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.editors.wizards.UntitledTextFileWizard">
         </newWizardShortcut>
         <viewShortcut
               id="org.eclipse.search.ui.views.SearchView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ProblemView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ResourceNavigator">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.TaskList">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ProgressView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.texteditor.TemplatesView">
         </viewShortcut>
         <hiddenToolBarItem
               id="org.eclipse.debug.internal.ui.actions.DebugDropDownAction">
         </hiddenToolBarItem>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="edu.utexas.cs.orc.orceclipse.perspective.main">
         </perspectiveShortcut>
         <newWizardShortcut
               id="edu.utexas.cs.orc.orceclipse.wizards.NewOrcProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Orc"
            id="edu.utexas.cs.orc.orceclipse.wizards.OrcCategory">
      </category>
      <wizard
            name="New Orc Project"
            icon="orc16.gif"
            category="edu.utexas.cs.orc.orceclipse.wizards.OrcCategory"
            class="edu.utexas.cs.orc.orceclipse.wizards.OrcNewProjectWizard"
            preferredPerspectives="edu.utexas.cs.orc.orceclipse.perspective.main"
            project="true"
            finalPerspective="edu.utexas.cs.orc.orceclipse.perspective.main"
            id="edu.utexas.cs.orc.orceclipse.wizards.NewOrcProjectWizard">
         <description>
            Create a new project for an Orc program
         </description>
      </wizard>
      <wizard
            name="New Orc File"
            icon="orc16.gif"
            category="edu.utexas.cs.orc.orceclipse.wizards.OrcCategory"
            class="org.eclipse.ui.wizards.newresource.BasicNewFileResourceWizard"
            project="false"
            id="edu.utexas.cs.orc.orceclipse.wizards.NewOrcFileWizard">
         <description>
            Create a new Orc source code file
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/orc_ovr.gif"
            id="edu.utexas.cs.orc.orceclipse.orcProjectNatureImage"
            natureId="edu.utexas.cs.orc.orceclipse.imp.nature">
         <description>
            Orc project nature
         </description>
      </image>
   </extension>

</plugin>
