<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- plugin.xml - Eclipse plug-in manifest
     Project OrcEclipse

     Copyright (c) 2016 The University of Texas at Austin. All rights reserved.

     Use and redistribution of this file is governed by the license terms in
     the LICENSE file found in the project's top-level directory and also found at
     URL: http://orc.csres.utexas.edu/license.shtml .
  -->
<plugin>

   <extension
         id="edit.contentTypes"
         name="Orc content types"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="orc"
            base-type="org.eclipse.core.runtime.text"
            name="Orc source code"
            priority="normal"
            id="edu.utexas.cs.orc.source">
      </content-type>
      <content-type
            file-extensions="inc"
            base-type="org.eclipse.core.runtime.text"
            name="Orc include file"
            priority="normal"
            id="edu.utexas.cs.orc.include">
      </content-type>
      <content-type
            file-extensions="oil"
            base-type="org.eclipse.core.runtime.xml"
            name="Orc Intermediate Language (OIL) file"
            priority="normal"
            id="edu.utexas.cs.orc.oil">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="orc">
      </fileTypes>
      <fileTypes
            type="text"
            extension="inc">
      </fileTypes>
      <fileTypes
            type="text"
            extension="oil">
      </fileTypes>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="edu.utexas.cs.orc.orceclipse.edit.OrcEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="orc, inc"
            icon="icons/orc_file_obj.gif"
            id="edu.utexas.cs.orc.orceclipse.edit.orcEditor"
            name="Orc Editor">
         <contentTypeBinding
               contentTypeId="edu.utexas.cs.orc.source">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="edu.utexas.cs.orc.include">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="In the Orc source text editor"
            id="edu.utexas.cs.orc.orceclipse.orcEditorScope"
            name="Editing Orc Source Text"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   <extension
         id="build.orcBuilder"
         name="Orc Compiler"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="edu.utexas.cs.orc.orceclipse.build.OrcBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="project.orcNature"
         name="Orc Nature"
         point="org.eclipse.core.resources.natures">
      <builder
            id="edu.utexas.cs.orc.orceclipse.build.orcBuilder">
      </builder>
      <runtime>
         <run
               class="edu.utexas.cs.orc.orceclipse.build.OrcNature">
         </run>
      </runtime>
      <content-type
            id="edu.utexas.cs.orc.source">
      </content-type>
      <content-type
            id="edu.utexas.cs.orc.include">
      </content-type>
      <content-type
            id="edu.utexas.cs.orc.oil">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/orc_ovr.gif"
            id="edu.utexas.cs.orc.orceclipse.orcProjectNatureImage"
            natureId="edu.utexas.cs.orc.orceclipse.project.orcNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="edu.utexas.cs.orc.orceclipse.category"
            name="Orc">
      </category>
      <command
            categoryId="edu.utexas.cs.orc.orceclipse.category"
            defaultHandler="edu.utexas.cs.orc.orceclipse.project.EnableOrcNature"
            description="Enable the Orc builder for this project"
            id="edu.utexas.cs.orc.orceclipse.project.projectContextMenu"
            name="Convert to Orc Project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <menu
               icon="orc16.gif"
               label="Convert to Orc Project"
               tooltip="Enable the Orc builder for this project">
         </menu>
         <command
               commandId="edu.utexas.cs.orc.orceclipse.project.projectContextMenu"
               icon="orc16.gif"
               label="Convert to Orc Project"
               tooltip="Enable the Orc builder for this project">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="edu.utexas.cs.orc.orceclipse.project.orcNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="problemmarker"
         name="Orc Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="parse.problemmarker"
         name="Orc Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="edu.utexas.cs.orc.orceclipse.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="edu.utexas.cs.orc.orceclipse.project.OrcProjectPropertyPage"
            id="edu.utexas.cs.orc.orceclipse.project.propertyPage"
            name="Orc Project Settings">
         <enabledWhen>
            <and>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="edu.utexas.cs.orc.orceclipse.project.orcNature">
                  </test>
               </adapt>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="Orc Program"
            delegate="edu.utexas.cs.orc.orceclipse.launch.OrcLaunchDelegate"
            modes="run"
            public="true"
            delegateName="Orc Program Launcher"
            id="edu.utexas.cs.orc.orceclipse.launch.orcApplication"
            delegateDescription="Create a configuration to launch an Orc application.">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="edu.utexas.cs.orc.orceclipse.launch.orcApplication"
            description="Create a configuration to launch an Orc application."
            class="edu.utexas.cs.orc.orceclipse.launch.OrcLaunchConfigurationTabGroup"
            id="edu.utexas.cs.orc.orceclipse.launch.launchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="Run Orc Program"
            icon="orc16.gif"
            description="Launch the current file as an Orc application"
            modes="run"
            class="edu.utexas.cs.orc.orceclipse.launch.OrcLaunchShortcut"
            id="edu.utexas.cs.orc.orceclipse.launch.shortcut">
         <contextualLaunch>
            <contextLabel
                  label="Orc Program"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <test
                           value="*.orc"
                           property="org.eclipse.debug.ui.matchesPattern">
                     </test>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="orc16.gif"
            configTypeID="edu.utexas.cs.orc.orceclipse.launch.orcApplication"
            id="edu.utexas.cs.orc.orceclipse.launch.orcApplicationImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Orc"
            icon="orc16.gif"
            class="edu.utexas.cs.orc.orceclipse.OrcPerspectiveFactory"
            id="edu.utexas.cs.orc.orceclipse.perspective.main">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.utexas.cs.orc.orceclipse.perspective.main">
         <view
               relative="org.eclipse.ui.editorss"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               closeable="true"
               visible="true"
               standalone="false"
               minimized="false"
               showTitle="true"
               relationship="left"
               ratio="0.25"
               moveable="true">
         </view>
         <view
               relative="org.eclipse.ui.editorss"
               id="org.eclipse.ui.views.ProblemView"
               closeable="true"
               visible="true"
               standalone="false"
               minimized="false"
               showTitle="true"
               relationship="bottom"
               ratio="0.75"
               moveable="true">
         </view>
         <view
               relative="org.eclipse.ui.views.ProblemView"
               visible="true"
               relationship="stack"
               id="org.eclipse.ui.views.TaskList">
         </view>
         <view
               relative="org.eclipse.ui.views.ProblemView"
               visible="true"
               relationship="stack"
               id="org.eclipse.ui.console.ConsoleView">
         </view>
         <view
               relative="org.eclipse.ui.editorss"
               id="org.eclipse.ui.views.ContentOutline"
               closeable="true"
               visible="true"
               standalone="false"
               minimized="false"
               showTitle="true"
               relationship="right"
               ratio="0.75"
               moveable="true">
         </view>
         <view
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               visible="false"
               relationship="stack"
               id="org.eclipse.ui.views.ResourceNavigator">
         </view>
         <view
               relative="org.eclipse.ui.views.ProblemView"
               visible="false"
               relationship="stack"
               id="org.eclipse.search.ui.views.SearchView">
         </view>
         <view
               relative="org.eclipse.ui.views.ProblemView"
               visible="false"
               relationship="stack"
               id="org.eclipse.ui.views.BookmarkView">
         </view>
         <view
               relative="org.eclipse.ui.views.ProblemView"
               visible="false"
               relationship="stack"
               id="org.eclipse.ui.views.ProgressView">
         </view>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.ui.edit.text.actionSet.navigation">
         </actionSet>
         <actionSet
               id="org.eclipse.ui.actionSet.openFiles">
         </actionSet>
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.ui.resourcePerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.team.cvs.ui.cvsPerspective">
         </perspectiveShortcut>
         <newWizardShortcut
               id="edu.utexas.cs.orc.orceclipse.wizards.NewOrcProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="edu.utexas.cs.orc.orceclipse.wizards.NewOrcFileWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.editors.wizards.UntitledTextFileWizard">
         </newWizardShortcut>
         <viewShortcut
               id="org.eclipse.search.ui.views.SearchView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ProblemView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ResourceNavigator">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.TaskList">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ProgressView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.texteditor.TemplatesView">
         </viewShortcut>
         <hiddenToolBarItem
               id="org.eclipse.debug.internal.ui.actions.DebugDropDownAction">
         </hiddenToolBarItem>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <perspectiveShortcut
               id="edu.utexas.cs.orc.orceclipse.perspective.main">
         </perspectiveShortcut>
         <newWizardShortcut
               id="edu.utexas.cs.orc.orceclipse.wizards.NewOrcProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Orc"
            id="edu.utexas.cs.orc.orceclipse.wizards.OrcCategory">
      </category>
      <wizard
            name="New Orc Project"
            icon="orc16.gif"
            category="edu.utexas.cs.orc.orceclipse.wizards.OrcCategory"
            class="edu.utexas.cs.orc.orceclipse.project.OrcNewProjectWizard"
            preferredPerspectives="edu.utexas.cs.orc.orceclipse.perspective.main"
            project="true"
            finalPerspective="edu.utexas.cs.orc.orceclipse.perspective.main"
            id="edu.utexas.cs.orc.orceclipse.wizards.NewOrcProjectWizard">
         <description>
            Create a new project for an Orc program
         </description>
      </wizard>
      <wizard
            category="edu.utexas.cs.orc.orceclipse.wizards.OrcCategory"
            class="edu.utexas.cs.orc.orceclipse.edit.NewOrcFileWizard"
            icon="orc16.gif"
            id="edu.utexas.cs.orc.orceclipse.wizards.NewOrcFileWizard"
            name="New Orc File"
            project="false">
         <description>
            Create a new Orc source code file
         </description>
      </wizard>
      <category
            id="edu.utexas.cs.orc.orceclipse"
            name="Orc">
      </category>
      <primaryWizard
            id="edu.utexas.cs.orc.orceclipse.wizards.NewOrcFileWizard">
      </primaryWizard>
      <primaryWizard
            id="edu.utexas.cs.orc.orceclipse.wizards.NewOrcProjectWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/orc_ovr.gif"
            natureId="edu.utexas.cs.orc.orceclipse.project.orcNature"
            id="edu.utexas.cs.orc.orceclipse.orcProjectNatureImage">
         <description>
            Orc project nature
         </description>
      </image>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/pluginhelp/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/userguide/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="help/refmanual/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="help/intro/overview.xml">
      </configExtension>
<!--
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="help/intro/firststeps.xml">
      </configExtension>
-->
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="help/intro/tutorials.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="help/intro/samples.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="help/intro/whatsnew.xml">
      </configExtension>
<!--
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="help/intro/migrate.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="help/intro/webresources.xml">
      </configExtension>
-->
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            type="new"
            wizardId="edu.utexas.cs.orc.orceclipse.wizards.NewOrcFileWizard">
         <enablement>
         	<or>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature" value="edu.utexas.cs.orc.orceclipse.project.orcNature"/>
				</adapt>
    <adapt
          type="org.eclipse.core.resources.IFolder">
    </adapt>
			</or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="edu.utexas.cs.orc.orceclipse.launch.HttpPatternMatchListener"
            id="edu.utexas.cs.orc.orceclipse.launch.httpPatternMatchListener"
            qualifier="http://"
            regex="http://[A-Za-z0-9\-\.\_\~\:\/\?\#\[\]\@\!\$\&amp;\&apos;\(\)\*\+\,\;\=\%]+">
         <enablement>
         </enablement>
      </consolePatternMatchListener>
      <consolePatternMatchListener
            class="edu.utexas.cs.orc.orceclipse.launch.OrcPosPatternMatchListener"
            id="edu.utexas.cs.orc.orceclipse.launch.orcPosPatternMatchListener"
            qualifier="\.((orc)|(inc))\:[0-9]+?\:[0-9]+?[\n\:]"
            regex="((.+?\.((orc)|(inc))\:[0-9]+?\:[0-9]+?\:)|((?&lt;= at ).+?\.orc\:[0-9]+?\:[0-9]+?\n))">
         <enablement>
         </enablement>
      </consolePatternMatchListener>
      <consolePatternMatchListener
            class="edu.utexas.cs.orc.orceclipse.launch.OrcWikiPatternMatchListener"
            id="edu.utexas.cs.orc.orceclipse.launch.orcExceptionPatternMatchListener"
            qualifier="\[\[OrcWiki\:"
            regex="\[\[OrcWiki\:[A-Za-z0-9_\-\#\%]+\]\]">
         <enablement>
            <or>
			  <test property="org.eclipse.ui.console.consoleTypeTest" value="javaStackTraceConsole"/>
               <test property="org.eclipse.debug.ui.processTypeTest" value="java"/>
               <test property="org.eclipse.debug.ui.processTypeTest" value="org.eclipse.ant.ui.antProcess"/>
            </or>
         </enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contexts.xml">
      </contexts>
   </extension>

</plugin>
