<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>ssi</servlet-name>
		<servlet-class>org.apache.catalina.ssi.SSIServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<!--
		<init-param>
			<param-name>debug</param-name>
			<param-value>1</param-value>
		</init-param>
		-->
	</servlet>
	<servlet>
		<servlet-name>static</servlet-name>
		<servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<init-param>
			<param-name>aliases</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>static</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ssi</servlet-name>
		<url-pattern>*.shtml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.shtml</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error404.shtml</location>
	</error-page>
</web-app>
