<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Orc source code</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>orc</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/vnd.orc.source</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.utexas.cs.orc.source</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeIconFile</key>
			<string>orc-file-source.icns</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Orc OIL</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oil</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/vnd.orc.oil+xml</string>
			</array>
			<key>LSItemContentTypes</key>
			<array>
				<string>edu.utexas.cs.orc.oil</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleTypeIconFile</key>
			<string>orc-file-oil.icns</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Orc source code</string>
			<key>UTTypeIdentifier</key>
			<string>edu.utexas.cs.orc.source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>orc</string>
				<key>public.mime-type</key>
				<string>text/vnd.orc.source</string>
			</dict>
			<key>UTTypeReferenceURL</key>
			<string>http://orc.csres.utexas.edu/</string>
			<key>UTTypeIconFile</key>
			<string>orc-file-source.icns</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Orc Intermediate Language (OIL)</string>
			<key>UTTypeIdentifier</key>
			<string>edu.utexas.cs.orc.oil</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>oil</string>
				<key>public.mime-type</key>
				<string>application/vnd.orc.oil+xml</string>
			</dict>
			<key>UTTypeReferenceURL</key>
			<string>http://orc.csres.utexas.edu/</string>
			<key>UTTypeIconFile</key>
			<string>orc-file-oil.icns</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Orc trace file</string>
			<key>UTTypeIdentifier</key>
			<string>edu.utexas.cs.orc.trace</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>trace</string>
				<key>public.mime-type</key>
				<string>application/vnd.orc.trace</string>
			</dict>
			<key>UTTypeReferenceURL</key>
			<string>http://orc.csres.utexas.edu/</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>@orc.version@, Copyright © 2009 The University of Texas at Austin.</string>
	<key>CFBundleIconFile</key>
	<string>orc-app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>edu.utexas.cs.orc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Orc</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@orc.version@</string>
	<key>CFBundleSignature</key>
	<string>ORC </string>
	<key>CFBundleVersion</key>
	<string>@orc.version@</string>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>$JAVAROOT/@orc.jar@</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>orc.gui.OrcApp</string>
		<key>VMOptions</key>
		<string>-Xmx1G</string>
		<key>Properties</key>
		<dict>
			<key>orc.version</key>
			<string>@orc.version@</string>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
		</dict>
	</dict>
</dict>
</plist>
